@import "mixins";

*{
    font-family: 'Work Sans', sans-serif;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
    background-color: #f4f4f4;
}

h3{
    font-size: 2rem;

    @include viewport (4k) {
        font-size: 6rem;
    }
}
p{
    font-size: 1.4rem;

    @include viewport (4k) {
        font-size: 3rem;
    }
}

#works{
    height: 100%;
}