$border: 1px solid black;
$bold: 700;
$regular: 400;
$blue: #332c63;
$white: #f4f4f4;
$padding: 5rem 2rem;

/*
    jonsuh.com/hamburgers -- used for mobile devices
*/
@import "../../node_modules/hamburgers/_sass/hamburgers/hamburgers";

/*
    reset document provided by https://dev.to/hankchizljaw/a-modern-css-reset-6p3
*/
@import "reset";

/*
    global styling
*/
@import "global";

/*
    header styling
*/
@import "header";

/*
    hero styling
*/
@import "hero";

/*
    services styling
*/
@import "services";

/*
    portfolio styling
*/
@import "portfolio";

/*
    references styling
*/
@import "references";

/*
    contact styling
*/
@import "contact";

/*
    footer styling
*/
@import "footer";